Source: gemian-modular-kernel
Section: kernel
Priority: extra
Maintainer: Adam Boardman <adamboardman@gmail.com>
Build-Depends:
 python,
 git,
 ca-certificates,
 bc,
 curl,
Standards-Version: 3.9.8
Vcs-Git: https://github.com/gemian/gemini-linux-kernel-3.18.git
Homepage: https://www.kernel.org/

Package: gemian-modular-kernel
Architecture: any
Multi-Arch: same
Depends:
 mkbootimg,
 initramfs-tools-halium,
Conflicts: gemini-kernel-image-3.18
Replaces: gemini-kernel-image-3.18
Recommends:
Description: Gemian Kernel with Modules
 .

Package: gemian-modular-kernel-headers
Architecture: all
Multi-Arch: foreign
Depends:
 gemian-modular-kernel,
Conflicts:
Replaces:
Recommends:
Description: Headers for Gemian Kernel with Modules
 .
